main {
    margin-left: 500px;
    width: 300px;
    height: 500px;
    background-color: rgb(56, 177, 208);
    border-radius: 20px;
}

h3 {
    color: white;
    display: flex;
    font-size: bold;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

#ecran {
    background-color: rgb(140, 152, 165);
    height: 80px;
    box-shadow: inset 1px 1px 5px 3px lightgrey, 0.5px 4px 1.5px 0.5em rgb(62, 195, 225);
    margin: 0 20px 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touchHaute {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(39, 131, 207);
    color: white;
    padding: 3px 6px;
    margin: 30px 5px 0px 5px;
    height: 27px;
    width: 40px;
    align-content: center;
}

#haut {
    display: flex;
    justify-content: start;
    align-items: center;
}

#titre2 {
    color: white;
    display: flex;
    justify-content: start;
    align-content: center;
    margin: 35px 45px 0px 50px;
    font-family: fantasy;
}

.touchBasse {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(39, 131, 207);
    color: white;
    padding: 5px 0px 5px 0px;
    margin: 5px;
    height: 40px;
    width: 37px;
    font-size: large;
}

.touchb {
    align-items: center;
    justify-content: center;
    padding:0 10px 0 30px;
}

.sign {
    color: white;
    display: flex;
    justify-content: right;
    align-content: end;
    padding: 15px 18px 0 0;
    font-size: 10px;
}

#result {
    height: 50px;
    width: 190px;
    font-size: 40px;
    color: black;
    background-color: transparent;
    border: none;
    display: flex;
    text-align: right;
    margin: 0 0 0 30px;

    
}